@media only screen and (max-width: 425px) {

    #introduzione {
        padding: 25px 30px;
    }

    #elenco-per-categoria .categoria .nome-categoria::after {
        content: url('../img/swipe.png');
    }

    section#dettaglio h1 {
        padding: 30px 10px;
        font-size: 35px;
    }

    section#dettaglio p, section#dettaglio blockquote {
        margin: 25px auto;
        padding: 3px 10px;
        font-size: 20px;
    }

    section#dettaglio p {
        height: 50px;
        overflow-y: scroll;
        
    }

    section#dettaglio blockquote {
        height: 100px;
        overflow-y: scroll;
    }
}